<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/slim-select@2.7.1/dist/slimselect.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/slim-select@2.7.1/dist/slimselect.min.js"></script>
        <script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <title>Leavdle</title>
    </head>
    <body>
        <header>
            <div id="title_container">
                <h1>Leavdle</h1>
            </div>
            <hr>
        </header>
        <main>
            <h3 id="line_count"></h3>
            <div id="line_container">
                <p id="line"></p>
            </div>
            <form id="form">
                <div id="dropdown_container">
                    <select autocomplete="off" id="sketch_select" name="sketch_guess" required>
                        <option value="" disabled selected>Select a sketch</option>
                        {% for sketch in sketches %}
                        <option value="{{ sketch.id }}">{{ sketch.sketch_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="center">
                    <button id="submit_button" type="submit">Guess</button>
                </div>
            </form>
        </main>
        <footer>
            <hr>
            <h3 id="how_to_play">Guess which <i>I Think You Should Leave</i> sketch<br>the randomly selected quote is from!</h3>
        </footer>
    </body>
</html>